In [11]:
# Scraping from naukri.com

 # "https://www.naukri.com/data-analyst-jobs-in-ahmedabad?k=data%20analyst&l=ahmedabad%2C%20remote"
 
import requests
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time

In [12]:
url = "https://www.naukri.com/data-analyst-jobs-in-ahmedabad?k=data%20analyst&l=ahmedabad%2C%20remote"
linkedinURL = "https://www.linkedin.com/jobs/search?keywords=Data%20Analyst&location=Ahmedabad%2C%20Gujarat%2C%20India%2C%20remote&geoId=&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"

In [13]:
df = pd.DataFrame(columns=['Site','Title','Company','Ratings','Reviews','Experience','Salary','Location','Description','Job_Post_History','URL'])

In [14]:
title=[]
Company = []
Ratings = []
Reviews = []
Experience = []
Salary = []
Location = []
Description = []
Job_Post_History = []
URL = []
Site = []

In [15]:
def GetListings(soup):
    job_elems = soup.find_all('article',class_='jobTuple')

    for jobs in job_elems:
        title.append(jobs.find("a", class_="title ellipsis").get_text())
        Company.append(jobs.find("a",class_='subTitle ellipsis fleft').get_text())
        rating = jobs.find("span",class_="starRating fleft")
        if rating is None:
            Ratings.append('')
        else:
            Ratings.append(rating.text)
        review = jobs.find("a",class_="reviewsCount fleft")
        if review is None:
            Reviews.append('')
        else:
            Reviews.append(review.text)
        Experience.append(jobs.find("li", class_ = "fleft br2 placeHolderLi experience").find("span").get("title"))
        Salary.append(jobs.find("li", class_ = "fleft br2 placeHolderLi salary").find("span").get("title"))
        Location.append(jobs.find("li", class_ = "fleft br2 placeHolderLi location").find("span").get("title"))
        Description.append(jobs.find("div", class_ = "ellipsis job-description").text)
        Job_Post_History.append(jobs.find("span",class_="fleft postedDate").text)
        URL.append(jobs.find("a", class_="title ellipsis").get("href"))
        Site.append("Naukri")

In [16]:
links = []


# Start a web driver (e.g. Chrome)
driver = webdriver.Edge()

# Navigate to a website
driver.get(url)

# Extract data from the webpage
soup = BeautifulSoup(driver.page_source,'html5lib')


link_elems = soup.find("div", class_= "fleft pages").find_all("a")

for elem in link_elems:
    links.append(f'https://www.naukri.com{elem.get("href")}')



for link in links:
    driver.get(link)
    time.sleep(5)
    soup2 = BeautifulSoup(driver.page_source,'html5lib')
    GetListings(soup2)

# driver.quit()

In [17]:
# Navigate to a website
driver.get(linkedinURL)
for i in range(0, 5):
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(5)
# Extract data from the webpage
soup = BeautifulSoup(driver.page_source,'html5lib')


link_elems = soup.find("ul", class_= "jobs-search__results-list").find_all("li")

for elem in link_elems:
  title.append(elem.find("h3", class_= "base-search-card__title" ).text.strip())
  URL.append(elem.find("a").get("href"))
  Company.append(elem.find("h4", class_= "base-search-card__subtitle" ).text.strip())
  Location.append(elem.find("span", class_= "job-search-card__location" ).text.strip())
  
  if elem.find("span", class_= "result-benefits__text" ) is None:
    Description.append("")
  else:
    Description.append(elem.find("span", class_= "result-benefits__text" ).text.strip())

  Job_Post_History.append(elem.find("time", class_= "job-search-card__listdate" ).text.strip())
  Site.append("linkedIn")
  Ratings.append("")
  Reviews.append("")
  Experience.append("")
  Salary.append("")


driver.quit()

In [18]:
df.Title = title
df.Company= Company
df.Ratings=Ratings
df.Reviews=Reviews
df.Experience=Experience
df.Salary=Salary
df.Location=Location
df.Description=Description
df.Job_Post_History=Job_Post_History
df.URL=URL
df.Site = Site

df.to_csv("data_analyst.csv", index=False)

In [19]:
df.head()

,Site,Title,Company,Ratings,Reviews,Experience,Salary,Location,Description,Job_Post_History,URL
0,Naukri,Manager/Senior Manager - Data Analyst,Huquo Consulting Pvt. Ltd,3.3,8 Reviews,2-7 Yrs,Not disclosed,"Ahmedabad, Mumbai, Hyderabad/Secunderabad, Pun...",BA / BS/ BTech minimum educational requiremen...,2 Days Ago,https://www.naukri.com/job-listings-manager-se...
1,Naukri,Data Analyst,S&P Global Inc.,5.0,3 Reviews,0-6 Yrs,Not disclosed,Ahmedabad,Willing to work in 24*5 environment on rotati...,8 Days Ago,https://www.naukri.com/job-listings-data-analy...
2,Naukri,Data Analyst - Python/Power BI,Huquo Consulting Pvt. Ltd,3.3,8 Reviews,5-10 Yrs,Not disclosed,"Ahmedabad, Kolkata, Mumbai, Hyderabad/Secunder...",Min 5+ years of relevant experience in unders...,11 Days Ago,https://www.naukri.com/job-listings-data-analy...
3,Naukri,Lead Data Analyst,Hi-tech Digital Solutions Llp,4.1,195 Reviews,4-9 Yrs,Not disclosed,Hybrid - Ahmedabad(Prahlad Nagar),Experience in handling reporting packages lik...,3 Days Ago,https://www.naukri.com/job-listings-lead-data-...
4,Naukri,Financial Data Analyst / Financial Analyst,Apttus,4.3,44 Reviews,5-7 Yrs,Not disclosed,Ahmedabad,Responsibilities:Manage and maintain the enti...,4 Days Ago,https://www.naukri.com/job-listings-financial-...

In [20]:
df.tail()

,Site,Title,Company,Ratings,Reviews,Experience,Salary,Location,Description,Job_Post_History,URL
220,linkedIn,Data Analyst/Statistician,sp solutions,,,,,"Ahmedabad, Gujarat, India",Be an early applicant,3 weeks ago,https://in.linkedin.com/jobs/view/data-analyst...
221,linkedIn,Data Engineer,Encora Inc.,,,,,"Ahmedabad, Gujarat, India",Actively Hiring,1 week ago,https://in.linkedin.com/jobs/view/data-enginee...
222,linkedIn,DataAnalyst,Priyanka Vinayak,,,,,"Ahmedabad, Gujarat, India",Be an early applicant,3 days ago,https://in.linkedin.com/jobs/view/dataanalyst-...
223,linkedIn,Data Engineer - Python/Spark,NICT,,,,,"Ahmedabad, Gujarat, India",Be an early applicant,3 weeks ago,https://in.linkedin.com/jobs/view/data-enginee...
224,linkedIn,Manager/Senior Manager - Data Analyst,HuQuo,,,,,"Ahmedabad, Gujarat, India",Be an early applicant,1 month ago,https://in.linkedin.com/jobs/view/manager-seni...